body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0d0d0d;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

/* 🔍 Search */
.search-container {
    margin-top: 20px;
    position: relative;
    display: inline-block;
}

#searchInput {
    padding: 10px;
    width: 400px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #1f1f1f;
    color: white;
}

#searchInput:focus {
    box-shadow: 0 0 10px #ff4c60;
}

/* Button */
.search-container button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #ff4c60;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background: #ff2e4d;
}

/* Suggestions */
#results {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    z-index: 100;
    scroll-behavior: smooth;
}

/* Items */
.result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
}

.result-item:hover {
    background: #2a2a2a;
}

/* Selected */
.result-item.active {
    background: #444;
}

/* Playing */
.result-item.playing {
    background: #ff4c60;
}

/* Image */
.result-item img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

/* Text */
.result-title {
    font-size: 14px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* No result */
.no-result {
    padding: 10px;
}

/* Mood */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.card {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background: #1f1f1f;
    color: white;
    cursor: pointer;
}

.card:hover {
    background: #ff4c60;
}

/* Player */
.player {
    margin-top: 30px;
}