<!-- FULLSCREEN PLAYER -->
<div id="fullscreenPlayer" class="fullscreen-player hidden">

    <canvas id="colorCanvas" style="display:none;"></canvas>

    <div class="fs-bg" id="fsBg"></div>


    <div class="fs-content">

        <!-- ARTWORK -->

        <div class="fs-artwork-section">

            <div class="fs-artwork-wrapper">

                <img id="fsThumbnail" src="">


                <!-- FAVORITE -->

                <button id="fsFavoriteBtn" class="fs-favorite-btn"></button>

                <!-- MORE -->

                <button id="fsMoreBtn" class="fs-more-btn"></button>

            </div>

        </div>



        <!-- SONG INFO -->

        <div class="fs-song-info">

            <h2 id="fsTitle">

                Title

            </h2>


            <p id="fsArtist">

                Artist

            </p>

        </div>



        <!-- EXTRA CONTROLS -->

        <div class="fs-extra-controls">


            <div class="left-controls">

                <button id="fsEqBtn" class="fs-small-btn"></button>
                
                <button id="fsSleepBtn" class="fs-small-btn"></button>

            </div>



            <div class="right-controls">

                <button id="fsRepeatBtn" class="fs-small-btn"></button>

                <button id="fsShuffleBtn" class="fs-small-btn"></button>

            </div>

        </div>

    </div>
            <!-- WAVEFORMS -->

        <div class="fs-progress-section">


            <div id="waveformContainer"></div>


            <div class="wave-atmosphere"></div>

            <!-- MAIN CONTROLS -->

            <div class="fs-controls">


                <button id="fsPrevBtn" onclick="playPrevious()"> </button>
                
                <button id="fsPlayBtn" onclick="togglePlay()"></button>
                
                <button id="fsNextBtn" onclick="playNext()"></button>
            
            </div>


            <div class="fs-progress">


                <span id="fsCurrent">

                    0:00

                </span>



                <span id="fsDuration">

                    0:00

                </span>


            </div>


        </div>

</div>