<!-- HOME DESKTOP-->
        <div id="homePage" class="home-layout">

            <!-- LEFT SIDE (Songs) -->
            <div class="home-left">
                <div class="music-ambient" id="musicAmbient"></div>
                <h2>🎧 Recommended for you</h2>
                <div id="recommendList"></div>
            </div>

            <!-- RIGHT SIDE (Albums) -->
            <div class="home-right">
                <h2>🕒 Recently Played</h2>
                <div id="recentAlbums"></div>
            </div>
        </div>